Repository TheJiahao/TheJiahao.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix, zhlint --fix

chore(post): 🔧 Improve readability
  content/posts/zh-cn/astro-react-table-of-contents/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

fix: 🐛 Grammar
  content/posts/zh-cn/astro-react-table-of-contents/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(post): 🔧 Update cover image of starship-setup
  content/posts/zh-cn/starship-setup/img/starship_logo.svg
Due: none

chore(post): 🔧 Update cover image of zsh-zim-setup
  content/posts/zh-cn/zsh-zim-setup/img/zimfw_logo.svg
Due: none

chore(post): 🔧 Draw new cover image for astro-react-table-of-contents
  content/posts/zh-cn/astro-react-table-of-contents/img/cover.svg
  content/posts/zh-cn/astro-react-table-of-contents/img/react_logo.svg
  content/posts/zh-cn/astro-react-table-of-contents/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(post): 🔧 Update cover
  content/posts/zh-cn/starship-setup/img/starship_logo.svg
Due: none

chore(post): 🔧 Add note about React integration
  content/posts/zh-cn/astro-react-table-of-contents/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(projects): 🔧 Add blog screenshot
  content/projects/blog/images/screenshot.webp
  content/projects/blog/index.json
Due: none

fix(ci): 🐛 👷 Use latest Node
  .github/workflows/setup-action/action.yml
Due: prettier --write

chore(debug): 🔧 Print Corepack version
  .github/workflows/setup-action/action.yml
Due: prettier --write

revert: "chore(debug): 🔧 Print Corepack version"
  .github/workflows/setup-action/action.yml
Due: prettier --write

fix(ci): 🐛 👷 Install pnpm with pnpm/action-setup
  .github/workflows/setup-action/action.yml
Due: prettier --write

refactor: ♻️ Replace preset-uno with preset-wind3
  uno.config.ts
Due: prettier --write

revert(ci): 👷 Remove google-indexing-script
  .github/workflows/indexing.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(post): 🔧 Add internal links
  content/posts/zh-cn/nushell-setup/img/starship_logo.svg
  content/posts/zh-cn/nushell-setup/index.mdx
  content/posts/zh-cn/starship-setup/img/nushell_logo_cover.svg
  content/posts/zh-cn/starship-setup/img/zimfw_logo.svg
  content/posts/zh-cn/starship-setup/index.mdx
  content/posts/zh-cn/zsh-zim-setup/img/starship_logo.svg
  content/posts/zh-cn/zsh-zim-setup/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

style: 🎨 Format
  content/posts/zh-cn/starship-setup/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

fix(search): 🐛 Add workaround for #838
  src/pages/[language]/search-index.json.ts
Due: prettier --write

refactor(search): ♻️ Use await keyword earlier
  src/pages/[language]/search-index.json.ts
Due: prettier --write

fix: 🐛 Search result missing title
  src/interfaces/PreparedPage.ts
  src/tests/utils/search.test.ts
  src/utils/search.ts
Due: prettier --write

fix: 🐛 Remove fuzzysort prepared title
  src/pages/[language]/search-index.json.ts
Due: prettier --write

feat(nushell-setup): ✨ Update
  content/posts/zh-cn/nushell-setup/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(starship-setup): 🔧 ✨ Update
  content/posts/zh-cn/starship-setup/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(starship-setup): 🔧 Update cover background
  content/posts/zh-cn/starship-setup/img/starship_logo.svg
Due: none

fix(typography): 🐛 Ignore code blocks when removing space after fullwidth character
  astro.config.ts
Due: prettier --write

refactor(rehype-plugin): ♻️ Extract space removal logic to plugin
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/plugins/rehypeRemoveSpaceAfterSeparator.ts
Due: prettier --write

revert: "chore(code): 🔧 Configure launch.json to open browser automatically"
  .vscode/launch.json
Due: none

chore: 🔧 Update config
  .vscode/settings.json
Due: none

feat(typst-tutorial): ✨ Initialize
  content/posts/zh-cn/typst-tutorial/img/algebraic_operations.svg
  content/posts/zh-cn/typst-tutorial/img/basic.svg
  content/posts/zh-cn/typst-tutorial/img/symbols_and_functions.svg
  content/posts/zh-cn/typst-tutorial/index.md
  content/posts/zh-cn/typst-tutorial/src/algebraic_operations.typ
  content/posts/zh-cn/typst-tutorial/src/basic.typ
  content/posts/zh-cn/typst-tutorial/src/symbols_and_functions.typ
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(typst-tutorial): 🔧 ✨ Update
  content/posts/zh-cn/typst-tutorial/img/cite_equation.svg
  content/posts/zh-cn/typst-tutorial/img/figure.svg
  content/posts/zh-cn/typst-tutorial/img/test.svg
  content/posts/zh-cn/typst-tutorial/index.md
  content/posts/zh-cn/typst-tutorial/src/bib_cite.typ
  content/posts/zh-cn/typst-tutorial/src/bibliography.bib
  content/posts/zh-cn/typst-tutorial/src/cite_equation.typ
  content/posts/zh-cn/typst-tutorial/src/figure.typ
Due: prettier --write, markdownlint --fix, zhlint --fix

feat(style): ✨ 🎨 Add vertical margin to code blocks
  src/styles/prose.scss
Due: prettier --write

chore(typst-tutorial): 🔧 ✨ Update citation part
  content/posts/zh-cn/typst-tutorial/img/cite_bibliography.svg
  content/posts/zh-cn/typst-tutorial/index.md
  content/posts/zh-cn/typst-tutorial/src/bib_cite.typ
  content/posts/zh-cn/typst-tutorial/src/bibliography.bib
  content/posts/zh-cn/typst-tutorial/src/cite_bibliography.typ
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(typst-tutorial): 🔧 Add import part
  content/posts/zh-cn/typst-tutorial/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(typst-tutorial): 🔧 Update basic syntax
  content/posts/zh-cn/typst-tutorial/img/basic.svg
  content/posts/zh-cn/typst-tutorial/img/codeblock.svg
  content/posts/zh-cn/typst-tutorial/img/lists.svg
  content/posts/zh-cn/typst-tutorial/index.md
  content/posts/zh-cn/typst-tutorial/src/codeblock.typ
  content/posts/zh-cn/typst-tutorial/src/lists.typ
Due: prettier --write, markdownlint --fix, zhlint --fix

fix(toc): 🐛 Make table of contents scrollable
  src/components/organisms/TableOfContents.tsx
Due: prettier --write

chore(typst-tutorial): 🔧 Update
  content/posts/zh-cn/typst-tutorial/img/template.svg
  content/posts/zh-cn/typst-tutorial/index.md
  content/posts/zh-cn/typst-tutorial/src/show_rule.typ
  content/posts/zh-cn/typst-tutorial/src/template.typ/document.typ
  content/posts/zh-cn/typst-tutorial/src/template.typ/template.typ
  content/posts/zh-cn/typst-tutorial/src/template.typ/utils.typ
Due: prettier --write, markdownlint --fix, zhlint --fix

feat(typst-tutorial): ✨ Add intro and conclusion
  content/posts/zh-cn/typst-tutorial/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(typst-tutorial): 🔧 Update title
  content/posts/zh-cn/typst-tutorial/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

feat(typst-tutorial): ✨ Add logo
  content/posts/zh-cn/typst-tutorial/img/typst_logo.svg
  content/posts/zh-cn/typst-tutorial/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(typst-tutorial): 🔧 Update
  content/posts/zh-cn/typst-tutorial/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(typst-tutorial): 🔧 Update cover
  content/posts/zh-cn/typst-tutorial/img/typst_logo.svg
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,astro, json,toml,yml,yaml,scss,css}) or (any of: *.{md,mdx})
  markdownlint --fix: any of: *.{md,mdx}
  zhlint --fix: any of: *.{md,mdx}
