Repository TheJiahao/TheJiahao.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix, zhlint --fix

chore(typst-tutorial): 🔧 Update
  content/posts/zh-cn/typst-tutorial/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

feat(typst-tutorial): ✨ Complete
  content/posts/zh-cn/typst-tutorial/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

fix: 🐛 Typo
  content/posts/zh-cn/typst-tutorial/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

perf(typst-tutorial): ⚡️ Remove unnecessary math equations
  content/posts/zh-cn/typst-tutorial/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

feat: ✨ Render math with Typst
  astro.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(post): ♻️ Use Typst math syntax
  content/posts/zh-cn/typst-tutorial/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

feat(math): ✨ Adjust equation style
  src/styles/math.scss
Due: prettier --write

refactor(math): ♻️ Remove math header
  src/components/atoms/MathHeader.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
Due: prettier --write

refactor(math): ♻️ Remove KaTeX
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: 🎨 Format
  src/layouts/BaseLayout.astro
Due: prettier --write

refactor: ♻️ Remove `math` from frontmatter
  src/content.config.ts
Due: prettier --write

refactor(typst-tutorial): ♻️ Render simple equations directly
  content/posts/zh-cn/typst-tutorial/img/algebraic_operations.svg
  content/posts/zh-cn/typst-tutorial/img/symbols_and_functions.svg
  content/posts/zh-cn/typst-tutorial/index.md
  content/posts/zh-cn/typst-tutorial/src/algebraic_operations.typ
  content/posts/zh-cn/typst-tutorial/src/symbols_and_functions.typ
Due: prettier --write, markdownlint --fix, zhlint --fix

refactor(typst-tutorial): ♻️ Rerender images
  content/posts/zh-cn/typst-tutorial/img/basic.svg
  content/posts/zh-cn/typst-tutorial/img/cite_bibliography.svg
  content/posts/zh-cn/typst-tutorial/img/cite_equation.svg
  content/posts/zh-cn/typst-tutorial/img/codeblock.svg
  content/posts/zh-cn/typst-tutorial/img/document.svg
  content/posts/zh-cn/typst-tutorial/img/figure.svg
  content/posts/zh-cn/typst-tutorial/img/lists.svg
  content/posts/zh-cn/typst-tutorial/img/show_rule.svg
  content/posts/zh-cn/typst-tutorial/src/basic.typ
  content/posts/zh-cn/typst-tutorial/src/cite_bibliography.typ
  content/posts/zh-cn/typst-tutorial/src/cite_equation.typ
  content/posts/zh-cn/typst-tutorial/src/codeblock.typ
  content/posts/zh-cn/typst-tutorial/src/figure.typ
  content/posts/zh-cn/typst-tutorial/src/lists.typ
  content/posts/zh-cn/typst-tutorial/src/show_rule.typ
  content/posts/zh-cn/typst-tutorial/src/template.typ/document.typ
Due: none

fix: 🐛 Equation not enclosed with $
  content/posts/zh-cn/typst-tutorial/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(typst-tutorial): 🔧 Update figures
  content/posts/zh-cn/typst-tutorial/img/cite_equation.svg
  content/posts/zh-cn/typst-tutorial/img/document.svg
  content/posts/zh-cn/typst-tutorial/img/lists.svg
  content/posts/zh-cn/typst-tutorial/img/template.svg
  content/posts/zh-cn/typst-tutorial/index.md
  content/posts/zh-cn/typst-tutorial/src/cite_equation.typ
  content/posts/zh-cn/typst-tutorial/src/lists.typ
  content/posts/zh-cn/typst-tutorial/src/template.typ/document.typ
Due: prettier --write, markdownlint --fix, zhlint --fix

feat(math): Make long equation scrollable
  src/styles/math.scss
Due: prettier --write

chore: 🔧 Remove unused npm script
  package.json
Due: none

build(deps): 📦️ Add pagefind
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(search): ✨ Configure pagefind
  pagefind.toml
Due: prettier --write

feat(search): ✨ Run pagefind after build
  package.json
Due: none

feat(search): ✨ Add pagefind types
  src/interfaces/Pagefind.ts
Due: prettier --write

refactor(types): ♻️ Allow Page.image to be string
  src/components/molecules/LinkCard.tsx
  src/interfaces/Page.ts
Due: prettier --write

feat(search): ✨ Add pagefind based search
  src/components/organisms/SearchBox.tsx
  src/hooks/useSearch.ts
  src/utils/search.ts
Due: prettier --write

feat(search): ✨ Add initPagefind
  src/utils/initPagefind.ts
Due: prettier --write

build(deps): 📦️ Remove fuzzysort
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(search): ✨ Add data-pagefind-meta to cover images
  src/components/atoms/CoverImage.tsx
  src/components/molecules/BlogHeader.astro
Due: prettier --write

refactor(search): ♻️ Remove unused files
  src/interfaces/PreparedPage.ts
  src/pages/[language]/search-index.json.ts
  src/tests/utils/search.test.ts
Due: prettier --write

fix(search): 🐛 Suppress Vite import warning
  src/utils/initPagefind.ts
Due: prettier --write

refactor: ♻️ Inherit SocialLinkProps from IconLinkProps
  src/components/molecules/SocialLink.tsx
Due: prettier --write

fix(type): 🐛 Make Page.image optional
  src/interfaces/Page.ts
Due: prettier --write

refactor(social-links): ♻️ Get localized URLs in config
  src/components/atoms/ProfileSchema.astro
  src/components/molecules/SocialMenu.tsx
  src/config/social.tsx
  src/layouts/AboutLayout.astro
Due: prettier --write

test(social-menu): 🚨 Update tests
  src/tests/components/molecules/SocialMenu.test.tsx
Due: prettier --write

fix(test): 🐛 🚨 Remove deprecated test
  src/tests/components/molecules/SocialMenu.test.tsx
Due: prettier --write

fix(search): 🐛 Limit not working
  src/utils/search.ts
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,astro, json,toml,yml,yaml,scss,css}) or (any of: *.{md,mdx})
  markdownlint --fix: any of: *.{md,mdx}
  zhlint --fix: any of: *.{md,mdx}
