Repository TheJiahao/TheJiahao.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix, zhlint --fix

chore: 🔧 Remove deprecated extension suggestions
  .vscode/extensions.json
Due: none

feat(post): ✨ Add vscode.github-authentication to vscode-affinity-issues
  content/posts/en/vscode-affinity-issues.md
  content/posts/zh-cn/vscode-affinity-issues.md
Due: prettier --write, markdownlint --fix, zhlint --fix

refactor(post): ♻️ Remove outdate frontmatter fields
  content/posts/en/vscode-affinity-issues.md
  content/posts/zh-cn/vscode-affinity-issues.md
Due: prettier --write, markdownlint --fix, zhlint --fix

ci(renovate): 👷 Update playwright matching
  renovate.json
Due: none

ci: 👷 Use slim image for simple workflows
  .github/workflows/cd.yml
  .github/workflows/indexing.yml
  .github/workflows/release.yml
Due: prettier --write

revert: Use ubuntu-latest for Release workflow
  .github/workflows/release.yml
Due: prettier --write

ci: 👷 Add Docker image build workflow
  .github/workflows/image.yml
Due: prettier --write

ci: 👷 Skip CI/CD if no code changed
  .github/workflows/cicd.yml
Due: prettier --write

ci: 👷 Ignore more files
  .github/workflows/cicd.yml
Due: prettier --write

ci(e2e): 👷 Run in custom container
  .github/workflows/e2e.yml
Due: prettier --write

ci: 👷 Use zstd for image compression
  .github/workflows/image.yml
Due: prettier --write

revert(e2e): Remove custom image
  .github/workflows/cicd.yml
  .github/workflows/e2e.yml
  .github/workflows/image.yml
Due: prettier --write

revert: "build(deps): update playwright and docker image to v1.58.0"
  Dockerfile
  pnpm-lock.yaml
Due: prettier --write

revert: Set Playwright image version to 1.57.0
  .github/workflows/e2e.yml
Due: prettier --write

chore(post): 🔧 Adjust starship logo background
  content/posts/zh-cn/starship-setup/img/starship_logo.svg
Due: none

revert(sitemap): Remove alternate links
  astro.config.ts
Due: prettier --write

refactor(sitemap): ♻️ Remove xhtml namespace
  astro.config.ts
Due: prettier --write

chore(vscode): 🔧 Update recommended extensions
  .vscode/extensions.json
Due: none

build(docker): 📦️ Use playwright 1.57.0 image
  Dockerfile
Due: none

test(e2e): 🚨 Remove desktop WebKit tests
  playwright.config.ts
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,astro, json,toml,yml,yaml,scss,css}) or (any of: *.{md,mdx})
  markdownlint --fix: any of: *.{md,mdx}
  zhlint --fix: any of: *.{md,mdx}
