Repository TheJiahao/TheJiahao.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix, zhlint --fix

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,astro, json,toml,yml,yaml,scss,css}": [
        "prettier --write"
    ],
    "*.{md,mdx}": ["prettier --write", "markdownlint --fix", "zhlint --fix"]
}

chore(lint): 🔧 Add UnoCSS ESLint plugin
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): 🐛 Lockfile
  pnpm-lock.yaml
Due: prettier --write

fix(post): 🐛 Update Nushell default config url
  content/posts/zh-cn/nushell-setup/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

refactor(schema): ♻️ Remove tags from frontmatter
  src/content.config.ts
Due: prettier --write

refactor: ♻️ Extract `getCurrentHeading`
  src/hooks/useSectionVisibility.ts
  src/utils/getCurrentHeading.ts
Due: prettier --write

feat(code-block): ✨ Add collapsible sections
  astro.config.ts
  ec.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(post): ✨ Initialize astro-react-table-of-contents
  content/posts/zh-cn/astro-react-table-of-contents/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(redirect): 🔧 Remove post redirects
  astro.config.ts
Due: prettier --write

refactor(toc): ♻️ Extract `getHeading`
  src/hooks/useSectionVisibility.ts
Due: prettier --write

chore(dx): 🔧 Remove lint-staged
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(toc): ♻️ Merge `targetHeadings` into `getHeading`
  src/hooks/useSectionVisibility.ts
Due: prettier --write

feat(post): ✨ Add remark sectionize to astro-react-table-of-contents
  content/posts/zh-cn/astro-react-table-of-contents/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

refactor(toc): ♻️ Extract `updateVisibility`
  src/hooks/useSectionVisibility.ts
Due: prettier --write

refactor(toc): ♻️ Improve readability
  src/hooks/useSectionVisibility.ts
Due: prettier --write

refactor(toc): ♻️ Calculate all visible sections before setting new
  src/hooks/useSectionVisibility.ts
Due: prettier --write

fix(toc): 🐛 Replace return with continue
  src/hooks/useSectionVisibility.ts
Due: prettier --write

revert: "refactor(toc): ♻️ Calculate all visible sections before setting new"
  src/hooks/useSectionVisibility.ts
Due: prettier --write

feat(post): ✨ Update section visibility part of astro-react-table-of-contents
  content/posts/zh-cn/astro-react-table-of-contents/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

refactor(post): ♻️ Change astro-react-table-of-contents to mdx
  content/posts/zh-cn/astro-react-table-of-contents/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

style: 🎨 Format
  content/posts/zh-cn/astro-react-table-of-contents/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

feat(post): ✨ Add non-working solution to astro-react-table-of-contents
  content/posts/zh-cn/astro-react-table-of-contents/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

feat(typography): ✨ Remove space after fullwidth separators "。" and "，"
  astro.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(post): 🐛 TWO-EM DASH not showing in Microsoft Edge
  content/posts/zh-cn/nushell-setup/index.mdx
  content/posts/zh-cn/starship-setup/index.mdx
  content/posts/zh-cn/zsh-zim-setup/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

fix(post): 🐛 Remove space after full stop in description
  content/posts/zh-cn/edge-window-different-profile-issue/index.md
  content/posts/zh-cn/nushell-setup/index.mdx
  content/posts/zh-cn/starship-setup/index.mdx
  content/posts/zh-cn/zsh-zim-setup/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

refactor(toc): ♻️ Remove sections without heading earlier
  src/hooks/useSectionVisibility.ts
Due: prettier --write

chore(post): 🔧 Update current heading calculation for astro-react-table-of-contents
  content/posts/zh-cn/astro-react-table-of-contents/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(post): 🔧 Update heading nesting for astro-react-table-of-contents
  content/posts/zh-cn/astro-react-table-of-contents/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

build(deps): 📦️ Remove classnames
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(deps): 📦️ Remove ts-node
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(deps): 📦️ Add remark-github-blockquote-alert
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(callout): ✨ Add stylesheet
  src/layouts/partials/ContentLayout.astro
  src/scss/callout.scss
Due: prettier --write

feat(callout): ✨ Add remark-github-blockquote-alert plugin
  astro.config.ts
Due: prettier --write

feat(callout): ✨ Allow custom title
  astro.config.ts
Due: prettier --write

refactor(post): ♻️ Use GitHub alert syntax
  content/posts/zh-cn/astro-react-table-of-contents/index.mdx
  content/posts/zh-cn/nushell-setup/index.mdx
  content/posts/zh-cn/starship-setup/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

refactor(callout): ♻️ Remove `<Callout/>` component
  src/components/molecules/Callout.tsx
  src/tests/components/molecules/Callout.test.tsx
Due: prettier --write

refactor(post): ♻️ Remove unused import
  content/posts/zh-cn/astro-react-table-of-contents/index.mdx
  content/posts/zh-cn/nushell-setup/index.mdx
  content/posts/zh-cn/starship-setup/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

refactor(post): ♻️ Change astro-react-table-of-contents to markdown
  content/posts/zh-cn/astro-react-table-of-contents/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

refactor(post): ♻️ Collapse Starship configuration
  content/posts/zh-cn/starship-setup/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

feat: ✨ Allow re-collapse in code block
  ec.config.mjs
Due: none

fix(callout): 🐛 Remove excess margin
  src/scss/callout.scss
Due: prettier --write
