Repository TheJiahao/TheJiahao.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix, zhlint --fix

revert: Change Bun back to pnpm
  .github/workflows/e2e.yml
  .husky/commit-msg
  .vscode/launch.json
  Dockerfile
  bun.lockb
  package.json
  playwright.config.ts
Due: prettier --write

build: 📦️ Add lockfile
  pnpm-lock.yaml
Due: prettier --write

revert: "build: 📦️ Replace pnpm with Bun"
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/setup-action/action.yml
  bun.lockb
  package.json
Due: prettier --write

fix: 🐛 Outdated lockfile
  pnpm-lock.yaml
Due: prettier --write

docs: 📚️ Update
  docs/configuration.md
  docs/installation.md
Due: prettier --write, markdownlint --fix, zhlint --fix

docs: 📚️ Update README
  README.md
Due: prettier --write, markdownlint --fix, zhlint --fix

build(deps): 📦️ Remove unused dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(typst-tutorial): 🔧 Update
  content/posts/zh-cn/typst-tutorial/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

fix(math): 🐛 Inline equations displayed as blocks in list
  src/styles/math.scss
Due: prettier --write

refactor: ♻️ Remove extra Fragments
  src/layouts/BlogLayout.astro
  src/layouts/CollectionLayout.astro
Due: prettier --write

refactor: ♻️ Replace ternary operator with short-circuit evaluation
  src/layouts/CollectionLayout.astro
Due: prettier --write

refactor: ♻️ Simplify types
  src/layouts/CollectionLayout.astro
Due: prettier --write

feat(projects): ✨ Add laskutys
  content/projects/laskutys/images/laskutys.svg
  content/projects/laskutys/index.json
Due: none

fix(typst-tutorial): 🐛 Update snippet
  content/posts/zh-cn/typst-tutorial/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

fix: 🐛 Extra space above blog cover
  src/components/molecules/BlogHeader.astro
Due: prettier --write

style: 🎨 Format
  src/components/molecules/BlogHeader.astro
Due: prettier --write

fix(build): 🐛 📦️ Update lockfile
  pnpm-lock.yaml
Due: prettier --write

fix(post): 🐛 Typo
  content/posts/zh-cn/typst-tutorial/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

revert: "fix: 🐛 Suppress type error of preset-theme"
  uno.config.ts
Due: prettier --write

fix: 🐛 Typo
  content/posts/zh-cn/typst-tutorial/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

fix(deps): 🐛 Downgrade Unocss to ~66.4.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(deps): 📦️ Disable automerge for Unocss
  renovate.json
Due: none

fix: 🐛 Renovate config
  renovate.json
Due: none

test: 🚨 Configure Vitest browser mode
  package.json
  pnpm-lock.yaml
  vitest.browser.config.ts
Due: prettier --write

refactor(sitemap): ♻️ Remove unnecessary namespaces
  astro.config.ts
Due: prettier --write

feat(post): ✨ Update zim benchmarks
  content/posts/zh-cn/zsh-zim-setup/index.md
Due: prettier --write, markdownlint --fix, zhlint --fix

ci(markdownlint): 👷 🔧 Set table-column-style to tight
  .markdownlint.yaml
Due: prettier --write

fix: 🐛 Lint
  docs/configuration.md
Due: prettier --write, markdownlint --fix, zhlint --fix

ci: 👷 Update lint command order
  package.json
Due: none

fix(deps): 🐛 Use matchPackageNames
  renovate.json
Due: none

fix(deps): 🐛 Use glob in matchPackageNames
  renovate.json
Due: none

build(deps): 📦️ Update playwright to v1.57.0
  .github/workflows/e2e.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: ✨ Add Dockerfile
  Dockerfile
Due: none

chore: 🔧 Configure devcontainer
  .devcontainer/devcontainer.json
Due: none

chore: 🔧 Add .pnpm-store to .gitignore
  .gitignore
Due: none

refactor: ♻️ Rename devcontainer to Ubuntu
  .devcontainer/devcontainer.json
Due: none

feat(typography): ✨ Add text-autospace
  src/layouts/BaseLayout.astro
  src/styles/text.scss
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,astro, json,toml,yml,yaml,scss,css}) or (any of: *.{md,mdx})
  markdownlint --fix: any of: *.{md,mdx}
  zhlint --fix: any of: *.{md,mdx}
