Repository TheJiahao/TheJiahao.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix, zhlint --fix

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,astro, json,toml,yml,yaml,scss,css}": [
        "prettier --write"
    ],
    "*.{md,mdx}": ["prettier --write", "markdownlint --fix", "zhlint --fix"]
}

refactor(ci): ♻️ 👷 Remove unused environment variable
  .github/workflows/cd.yml
Due: prettier --write

refactor(ci): ♻️ 👷 Move branch check to `cicd.yml`
  .github/workflows/cd.yml
  .github/workflows/cicd.yml
Due: prettier --write

refactor(ci): ♻️ 👷 Remove unused job
  .github/workflows/cicd.yml
Due: prettier --write

fix(ci): 🐛 👷 Quote string
  .github/workflows/cicd.yml
Due: prettier --write

ci(debug): 👷 Print branch name
  .github/workflows/cd.yml
Due: prettier --write

fix(ci): 🐛 👷 Remove brackets
  .github/workflows/cicd.yml
Due: prettier --write

revert: "ci(debug): 👷 Print branch name"
  .github/workflows/cd.yml
Due: prettier --write

chore: Add MIT license
  LICENSE
Due: none

revert: "refactor: ♻️ Make mobile navigation bar sticky"
  src/layouts/NavigationBarLayout.astro
  src/layouts/partials/ContentLayout.astro
Due: prettier --write

docs: 📚️ Add installation document
  README.md
  docs/installation.md
Due: prettier --write, markdownlint --fix, zhlint --fix

docs: 📚️ Update README.md
  README.md
Due: prettier --write, markdownlint --fix, zhlint --fix

docs: 📚️ Add link to open work hour document
  README.md
Due: prettier --write, markdownlint --fix, zhlint --fix

docs: 📚️ Add license notice
  README.md
Due: prettier --write, markdownlint --fix, zhlint --fix

docs: 📚️ Add configuration documentation
  README.md
  docs/configuration.md
Due: prettier --write, markdownlint --fix, zhlint --fix

chore: 🔧 Remove unused config
  src/config/site.ts
Due: prettier --write

chore(callout): 🔧 Add vertical margin
  src/components/molecules/Callout.tsx
Due: prettier --write

chore: 🔧 Add workspace extension recommendations
  .vscode/extensions.json
Due: none

revert: "feat(callout): ✨ Add simple animations"
  src/components/molecules/Callout.tsx
Due: prettier --write

chore: 🔧 Add more extension recommendations
  .vscode/extensions.json
Due: none

chore(post): 🔧 Update starship-setup
  src/content/posts/zh-cn/starship-setup/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

docs(get-last-modified): 📚️ Add JSDoc
  src/utils/getLastModified.ts
Due: prettier --write

docs(test): 📚️ 🚨 Update code block language
  docs/testing.md
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(test): 🔧 🚨 Remove unused test images
  src/assets/test/test-image.png
  src/assets/test/test-image.svg
Due: none

docs(README): 📚️ Add math support
  README.md
Due: prettier --write, markdownlint --fix, zhlint --fix

style(figure): 🎨 Add gap between caption and image
  src/scss/prose.scss
Due: prettier --write

fix(navigation-bar): 🐛 Clicking link padding not working
  src/components/molecules/NavigationMenu.tsx
Due: prettier --write

revert: "feat: ✨ Allow passing classes to `Menu` items"
  src/components/molecules/Menu.tsx
Due: prettier --write

fix(starship-setup): 🐛 Incorrect link
  src/content/posts/zh-cn/starship-setup/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

feat(starship-setup): ✨ Complete
  src/content/posts/zh-cn/starship-setup/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(starship-setup): 🔧 Add external links
  src/content/posts/zh-cn/starship-setup/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(starship-setup): 🔧 Add writer's config
  src/content/posts/zh-cn/starship-setup/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

refactor(starship-setup): ♻️ Move config to separate file
  src/content/posts/zh-cn/starship-setup/index.mdx
  src/content/posts/zh-cn/starship-setup/src/starship.toml
Due: prettier --write, markdownlint --fix, zhlint --fix

chore(starship-setup): 🔧 Remove note about spaces
  src/content/posts/zh-cn/starship-setup/index.mdx
Due: prettier --write, markdownlint --fix, zhlint --fix

docs(README): 📚️ Update badges
  README.md
Due: prettier --write, markdownlint --fix, zhlint --fix

fix(language-selector): 🐛 Collapse mark not rotating
  src/components/molecules/LanguageSelector.tsx
Due: prettier --write

revert: "fix(accessibility): 🐛 Highlight `clickable` when tab selected"
  uno.config.ts
Due: prettier --write

fix(link-card): 🐛 Highlight when focused
  src/components/molecules/LinkCard.tsx
Due: prettier --write

refactor(transition): ♻️ Use native view transition
  src/components/atoms/BaseHeader.astro
Due: prettier --write

fix: 🐛 Lint
  src/components/atoms/BaseHeader.astro
Due: prettier --write

refactor(math): ♻️ Use KaTeX from npm package
  package.json
  pnpm-lock.yaml
  src/components/atoms/MathHeader.astro
Due: prettier --write
